# MariaDB & WordPress
MYSQL_DATABASE=
MYSQL_USER=

# WordPress
DOMAIN_NAME=
WP_TITLE=

# WordPress admin user
WP_ADMIN_USER=
WP_ADMIN_EMAIL=

# WordPress general user
WP_USER=
WP_USER_EMAIL=

# FTP
FTP_USER=
FTP_PASV_ADDRESS=

# Passwords are read from Docker secrets files under ../secrets/
