# MariaDB & WordPress
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# WordPress
DOMAIN_NAME=
WP_TITLE=

# WordPress admin user
WP_ADMIN_USER=
WP_ADMIN_PASSWORD=
WP_ADMIN_EMAIL=

# WordPress general user
WP_USER=
WP_PASSWORD=
WP_USER_EMAIL=